<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Alex Black - Software Developer</title>
        <meta name="description" content="">
        <!-- 
    	Volton Template
    	http://www.templatemo.com/tm-441-volton
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
        <div class="responsive-header visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-section">
                            <div class="profile-image">
                                <img src="img/profile.jpg" alt="Volton">
                            </div>
                            <div class="profile-content">
                                <h3 class="profile-title"><%= person.firstName %> <%= person.lastName %></h3>
                                <p class="profile-description">Software Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                <div class="main-navigation responsive-menu">
                    <ul class="navigation">
                        <li><a href="#top"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="#about"><i class="fa fa-user"></i>About Me</a></li>
                        <li><a href="#projects"><i class="fa fa-newspaper-o"></i>My Projects</a></li>
                        <!-- <li><a href="#contact"><i class="fa fa-envelope"></i>Contact Me</a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- SIDEBAR -->
        <div class="sidebar-menu hidden-xs hidden-sm">
            <div class="top-section">
                <div class="profile-image">
                    <img src="img/morocco.jpg" alt="morocco">
                </div>
                <h3 class="profile-title"><%= person.firstName %> <%= person.lastName %></h3>
                <p class="profile-description">Software Developer</p>
            </div> <!-- top-section -->
            <div class="main-navigation">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-globe"></i>Welcome</a></li>
                    <li><a href="#about"><i class="fa fa-pencil"></i>About Me</a></li>
                    <li><a href="#projects"><i class="fa fa-paperclip"></i>My Projects</a></li>
                    <!-- <li><a href="#contact"><i class="fa fa-link"></i>Contact Me</a></li> -->
                </ul>
            </div> <!-- .main-navigation -->
            <div class="social-icons">
                <ul>
                    <li><a href="https://github.com/ablackness"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/alex-black-b5520146"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div> <!-- .social-icons -->
        </div> <!-- .sidebar-menu -->
        

        <div class="banner-bg" id="top">
            <div class="banner-overlay"></div>
            <div class="welcome-text">
                <h2>Alex Black | Software Developer</h2>
                <!-- <h5>This is a mobile friendly layout with Bootstrap v3.3.1 framework. Maecenas eu ante at nunc posuere fringilla sit amet non dolor. Proin condimentum fermentum nunc.</h5> -->
            </div>
        </div>

        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="fluid-container">

                <div class="content-wrapper">
                
                    <!-- ABOUT -->
                    <div class="page-section" id="about">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading widget-title">About Me</h4>
                            <!-- <div class="about-image">
                                <img src="img/8.jpg" alt="about me">
                            </div> -->
                            <p>I am excited about writing clean and functional front-end code. I am adept at quickly synthesizing and applying new concepts. I thrive on challenges and learning new things and am enthusiastic about problem solving.</p>
                            <br/>
                            <p>My prior success as a professional engineer demonstrates my ability to solve complex problems while working on a cross-functional team.</p>
                            <br/>
                            <p>I am currently attending <a href='http://origincodeacademy.com/'>Origin Code Academy</a> in order to solidify my skills as a fullstack developer. Click <a href='https://github.com/ablackness'>here</a> or on the link in the sidebar and you will find a link to my GitHub account. Please feel free to browse some of my projects or check out the highlights below.</p>
                            <hr>
                        </div>
                    </div> <!-- #about -->
                    </div>
                    
                    <!-- PROJECTS -->
                    <div class="page-section" id="projects">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading widget-title">Projects</h4>
                        </div>
                    </div>
                    <div class="row projects-holder">
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="/img/hackathon-project2.png" alt="hackathon">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="https://ab-hackathon-trivia.herokuapp.com/">Hackathon Trivia App</a></h5>
                                        <p>Trivia app built using React and Node.js. Implements the Open Trivia Database API and the Robohash avatar API.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="/img/change-calc-project2.png" alt="change calculator">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="https://ab-changecalculator.herokuapp.com/">Change Calculator App</a></h5>
                                        <p>An application to calculate the change needed after a transaction. Built using React and Bootstrap.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/noshspot2.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="https://noshspot-camm.herokuapp.com/#/">NoshSpot</a></h5>
                                        <p>Food Delivery website built using React, Redux, Boostrap, and Mongoose</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/budget2.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="https://ab-budget-tracker.herokuapp.com/">Budget Tracker</a></h5>
                                        <p>A budget tracking app built using React and Redux</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/weather2.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="https://ab-weather-app.herokuapp.com/">Weather App</a></h5>
                                        <p>A weather information application built using React, Redux, and Bootstrap.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/movie2.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="http://ab-movie-finder.herokuapp.com/#/">Movie Info Finder</a></h5>
                                        <p>An application to search for movie info by title. Built using React, Redux, Bootsrap, and the OMDB API.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .projects-holder -->
                    </div>
                    <hr>

                    <!-- CONTACT -->
                    <!-- <div class="page-section" id="contact">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading widget-title">PLACE TO TALK WITH ME</h4>
                            <p>Vestibulum ac iaculis erat, in semper dolor. Maecenas et lorem molestie, maximus justo dignissim, cursus nisl. Nullam at ante quis ex pharetra pulvinar quis id dolor. Integer lorem odio, euismod ut sem sit amet, imperdiet condimentum diam.</p>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/thanks" method="POST" enctype="application/json" class="contact-form">
                            <fieldset class="col-md-4 col-sm-6">
                                <input type="text" name='name' id="your-name" placeholder="Your Name...">
                            </fieldset>
                            <fieldset class="col-md-4 col-sm-6">
                                <input type="email" name='email' id="email" placeholder="Your Email...">
                            </fieldset>
                            <fieldset class="col-md-4 col-sm-12">
                                <input type="text" name ='subject' id="your-subject" placeholder="Subject...">
                            </fieldset>
                            <fieldset class="col-md-12 col-sm-12">
                                <textarea name="message" name='message' id="message" cols="30" rows="6" placeholder="Leave your message..."></textarea>
                            </fieldset>
                            <fieldset class="col-md-12 col-sm-12">
                                <input type="submit" name='submit' id='submit' class="button big default" value="Send Message"/>
                            </fieldset>
                        </form>
                    </div> -->
                     <!-- .contact-form
                    </div>
                    <hr> -->

                    <div class="row" id="footer">
                        <div class="col-md-12 text-center">
                            <p class="copyright-text">Alex Black | Software Developer</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/min/plugins.min.js"></script>
        <script src="js/min/main.min.js"></script>

    </body>
</html>