<html>
    <head>
        <title> Thank You! </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type='text/css' href="/css/style.css">
    </head>
    <body id='thanks-body'>
        <div>
        <h3>Thank you. Your contact info has been sent and I will reach out as soon as I am able.</h3>
        <a class='btn btn-default' href='/'>Back</a>
        </div>
    </body>
</html>